[2019-10-02 14:27] andyjeffries opened #6 "Allow applications to use resources from other applications"
@alejandrojnm is trying to implement [Hasura](https://hasura.io) as a marketplace application, but it requires a PostgreSQL database.

**First thoughts**

My original thoughts were to allow passing of configuration items from one application to another. e.g.

[code]

However, I don't think it's nice if Application B can pull the authentication details from Application A.

**New plan**

So now I'm

[2019-10-02 14:28] andyjeffries commented on #6
However, I'm not 100% sold on `resource.sh` and `resources` as these may be confusing with Kubernetes resources. This is really just an issue to track the considerations and plan.

[2019-10-02 14:44] andyjeffries commented on #6
Hi @Lazarus404, thanks for your thoughts.

Another user @hazsetata has asked for functionality to be able to prompt users for values during the install for another application, so we need/want to find a way to do that.

However, if we only did it that way - in this case if you wanted to "one click install" Hasura, it wouldn't be possible. You'd need to install Postgres, then fire up the `psql` cli

[2019-10-02 15:45] rhyspowell commented on #6
I can see from some of the market place apps there is a mixture for helm and k8s yaml. I also have checked, there is no Hasura chart but wouldn't it make sense to follow helm as the standard? That way you have defaults for one click deployments but the ability to override things for those who have more experience/specific needs? THis could then apply to anything else going forward?

[2019-10-02 15:59] andyjeffries commented on #6
Sorry, I think you may have missed something @rhyspowell. We have a use @alejandrojnm that wants to make this chart, but it needs a PostgreSQL database. Whether he uses Helm or k8s yaml is irrelevant to the point of how do you get access to a PostgreSQL database without needing the entire root details for PostgreSQL.

[2019-10-02 16:05] rhyspowell commented on #6
With the chart, you can have it install the postgres database for your one click install, I can see there is a method in place already that will shows the root password on the current postgres one click, you would just add the Hasura info as well.

Once the way of prompting for details is figured out, thats where using helm comes in as you can set the flag to skip the postgres install just use the

[2019-10-03 07:41] andyjeffries commented on #6
Let me explain another way. I want users to be able to join #KUBE100 or just use the service when it comes out and think "Hmmm, Hasura looks cool - I'd like to have a play with that":

[code]

And be ready to play with it!

In order to do that it needs to a)create a new cluster, b)install the dependencies of Hasura (PostgreSQL) and then c)install Hasura itself. So we need some automated way of Has

[2019-10-03 08:27] rhyspowell commented on #6
so, I'm not sure what process the above command kicks off but assuming its a script, so something like

[code]

there is even the k8s yaml here https://github.com/hasura/graphql-engine/tree/master/install-manifests/kubernetes

you can then show the values that you think people might need as required

[2019-10-03 08:28] Lazarus404 commented on #6
So, I think we can make some presumptions. If Postgres is installed, it would make sense that it uses a Secret. The install script can detect a PG install. If it doesn't find one, it prompts `install Postgres Pod?` and does everything automatically. If one is found, then it can ask `provide Secret reference` option, instead. At that point, if there is no Secret (the user is just trialling things),

[2019-10-03 08:33] andyjeffries commented on #6
The echo/read/prompt bit is what doesn't work - the scripts execute on the k3s cluster itself, so you don't get to prompt the user for anything as it installs. We can work around that by having a list of "ask for X, Y and Z" and insert them into the script, but that's still a bit yucky (IMHO) compared to the solution of having an application that can create "things" (e.g. databases) be responsible

[2019-10-03 08:35] rhyspowell commented on #6
thats only needed when the user has already take the action to do the postgres bit, else its all invisible to the user. If someone is that far down the path, I'm pretty sure they would be happy applying the args as required

[2019-10-03 08:36] rhyspowell commented on #6
the only thing I am unsure of in the above is how the db endpoint gets exposed so you can pass that down as a variable

[2019-10-03 08:36] andyjeffries commented on #6
@Lazarus404 we could do that, but the only secret in the Postgres Application (Application is a Marketplace Application, compared on the underlying application itself) is the root authentication credentials, which brings it back to my First Thoughts in my description - although you're at least now pulling them out of Kubernetes. With the downside that if the field is encrypted there (bearing in mi

[2019-10-03 08:38] andyjeffries commented on #6
I think I'm still missing something @rhyspowell.

So if you do:

[code]

How would it create the database and user/password in PostgreSQL, without having some authentication details to connect to it in order to be able to create them?

Or something will still have to create them (in the middle of a one command install), which brings me back to what I am trying to solve :-)

[2019-10-03 08:41] rhyspowell commented on #6
That command does it for you, create the user hasura, the password as set from the variable and the database harusa, the chart does it all for you.

Sorry just noticed that that line is missing the stale/postgres from the end of the command

[2019-10-03 08:41] Lazarus404 commented on #6
What if the install always installed the dependency Pods, but in a different namespace? That way, if the user already has the dependency, they can just reconfigure the Pod definition and remove the unused dependency...  It keeps it simple, at least.

[2019-10-03 08:53] andyjeffries commented on #6
I don't understand how it can do it for you. How can it create a user, password and database WITHOUT being able to login to PostgreSQL itself? Or without pulling the root secret out of a ConfigMap or Secret, which may change in the future.

[2019-10-03 09:09] rhyspowell commented on #6
So a deeper dig https://github.com/helm/charts/tree/master/stable/postgresql#configuration they are the admin creds, thought they were additional creds sorry, having said that, of a one click deployment, would that make a difference? If yes, then it will get very yucky with currently the only option I could think of is a short run of a container with psql installed and create the user, password, d

[2019-10-03 09:10] andyjeffries commented on #6
I think maybe the best bet might for me to implement what I'm suggesting, and then I can share the code of how it works/hangs together for Marketplace Application developers.

[2019-10-24 12:31] ssmiller25 commented on #6
So tripped across this while trying to figure out how to package a marketplace app that would require a database backend.  So what if the back-end resources like MySQL/Postgres/etc were provided as Kubernetes Operators?  My idea would be to provide something like [the KubeDB Operator](https://github.com/kubedb/operator) that would only deploy the operator framework for creating databases.  Then a

[2019-10-24 12:33] andyjeffries commented on #6
I like the idea for using a Kubernetes Operator, however, how would the KubeDB operator know the credentials? Would you bundle say the MySQL operator with MariaDB - or have KubeDB be a dependency of MariaDB and somehow have it know to accept resources for MySQL but not PostgreSQL. Definitely interested in the concept though. Seems a more native way of doing this.

[2019-10-25 10:51] ssmiller25 commented on #6
My thoughts is that the originating app would use a `CIVO:ALPHANUMERIC(num):BASE64` to create a random password in a secret, then pass that both to whatever operator is creating the database, as well as the application itself for configuration.

My thoughts is any of the databases that bundle operators would only deploy the controller for the operator, then the originating app would request the da

[2019-10-27 10:23] ssmiller25 opened #16 "Additional Catagory: application"
None of the categories seems to make sense for actual end-user applications, such as Wordpress, Mediawiki, or Nextcloud.  "Application" is pretty board, but trying to make a full taxonomy for all possibilities also seems unnecessary.

[2019-10-28 09:32] andyjeffries commented on #16
I agree with this. The plan is always we'd add more categories and rearrange as we add more to the marketplace. When someone submits Wordpress or Mediawiki, I'd say we go for a "CMS" category. Maybe Nextcloud is "File sharing", etc. But it's definitely not the final set-in-stone list of categories as they currently stand.

[2019-10-28 09:32] #16 closed

[2019-10-30 02:11] gabeduke opened #17 "Minio pod failing create"
Minio Pod is failing to create with the following error (pod coming up on the master node which has no `NodeD`):

[code]

[2019-10-31 14:38] andyjeffries commented on #17
Have you changed something from the default installation? Normally the master is perfectly fine to bring pods up on.

[2019-11-07 15:50] alexellis opened #20 "Issue and PR templates"
It'd be great if there were issue templates to help identify a problem

And PR templates with a check-list that included things like the contributing guide being agreed to:

- [ ] I agree to maintain this submission
- [ ] To the best of my knowledge this is an original work and doesn't contain copyrighted materials
- [ ] I have tested the application (screenshot or text attached below)

Please giv

[2019-11-07 15:54] alexellis commented on #20
Examples from inlets (smaller example than OpenFaaS): https://github.com/inlets/inlets/tree/master/.github

[2019-11-09 14:48] ssmiller25 opened #21 "Longhorn Not Set As Default StorageClass"
When longhorn is installed in a fresh cluster, it is not marked as the default storageprovisioner.  It appears to be annoated correctly in the marketplace app yaml:

https://github.com/civo/kubernetes-marketplace/blob/438301b76b6807b958210282550e8c902230d5a8/longhorn/app.yaml#L399

But when a new cluster is created that includes the longhorn app:

[code]

The `storageclass.kubernetes.io/is-default

[2019-11-10 12:53] #21 closed

[2019-12-05 20:07] morganlaneap opened #26 "Addition of K8S dashboard"
This issue is a:
[ ] Bug Report
[x] Enhancement suggestion
[ ] Feature request

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to see, and how it would benefit you and the wider Civo Kubernetes userbase:

I have been wondering about the possibility of getting the K8S

[2019-12-06 15:33] andyjeffries commented on #17
Does this still happen after today's upgrade to Longhorn 0.7.0?

[2019-12-06 15:37] andyjeffries commented on #26
So rather than the proxy, could you not just use Traefik to create an authenticated ingress route for it? Something like this Prometheus example:

[code]

When our new firewall code goes live, we'll make it easier to firewall off the port, only opening it to IPs you choose, but for now this may work OK. You could use the [Customising](https://github.com/civo/kubernetes-marketplace#customising) fea

[2019-12-06 15:40] andyjeffries commented on #26
Actually having just seen the article you linked to, by the looks of it, it's already fairly locked down with a long token, so maybe even an unauthenticated one will work. You can use anything you like as the first part of the generated DNS name (wildcard), but I'd need to make a `$CIVO:CLUSTER_ID` customisation value for you to be able to inject that. I'll do that now...

[2019-12-06 15:53] andyjeffries commented on #26
`$CIVO:CLUSTER_ID` is now available (and in the docs at https://github.com/civo/kubernetes-marketplace#customising)

[2019-12-09 10:23] morganlaneap commented on #26
Sounds good, I'll take a look at creating that in the next few days.

[2019-12-15 17:36] morganlaneap commented on #26
@andyjeffries will the variables work in an install.sh? It will be easier to install the dashboard using Helm and then enable the ingress it is packaged with: https://hub.helm.sh/charts/stable/kubernetes-dashboard

[2019-12-16 12:51] andyjeffries commented on #26
Yes, variables work just the same in `install.sh` @morganlaneap

[2019-12-20 11:48] viroos commented on #17
I got the same issue. I managed to 'fix' it by creating pvc via longhorn UI and editing minio deployment to use it

[2020-01-24 12:49] jdbohrman opened #29 "Add Factorio"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[ * ] Feature request

## Enhancement suggestions / feature requests

Can we add Factorio so I can spin up a server for my friend group on Civo and write a blog post about it?

I think it would be a nice community addition. You could even have a community-run Factorio server on Civo infrastructure if you fancy it :)

https://hub.helm.sh/ch

[2020-01-24 14:28] andyjeffries commented on #29
Hey @jdbohrman thanks for taking an interest in submitting an app, but unfortunately at this time we don't really want to host game applications in the marketplace. We don't mind people running them, but it's not an area of hosting that really want to be pushing. Thanks anyway.

[2020-01-24 14:28] #29 closed

[2020-01-24 17:48] jdbohrman opened #30 "Add Spinnaker"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[ * ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests

Adding Spinnaker to the marketplace might be a nice touch

[2020-02-05 17:12] armujahid opened #33 "Add NGINX Ingress Controller"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[x] Feature request

## Enhancement suggestions / feature requests
In architecture section I think we should add [nginx ingress controller](https://kubernetes.github.io/ingress-nginx/). Currently it can be installed using `helm install my-nginx stable/nginx-ingress`. We just need to ensure that Traefik Ingress controller isn't selected dur

[2020-02-16 17:04] ruanbekker commented on #17
I had a similar issue with Jenkins.

Tested with minio and removing the `PersistentVolume` section and adding metadata to `PersistentVolumeClaim` worked for me.

With a default install:

[code]

Pod events:

[code]

When removing `PersistentVolume`:

[code]

It goes into a running state.

After creating a bucket, I deleted the pod and waited for the pod to be assigned to another node and the data

[2020-02-18 08:41] andyjeffries commented on #30
One of our users on the Kube100 slack channel feels that Spinnaker is a huge piece of software so may not be appropriate for the k3s service (given we don't currently have a system where marketplace apps can say "I need a minimum of X resources"). Your thoughts @jdbohrman ?

[2020-03-30 21:03] cablespaghetti opened #39 "Helm Version Upgrade"
This issue is a:
[ ] Bug Report
[x] Enhancement suggestion
[ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below: N/A

## Enhancement suggestions / feature requests
Please supply a newer Helm version. If not 3.1 at least 2.16 which is more commonly installed than 2.14 at this point in time.

[2020-03-30 21:13] cablespaghetti opened #40 "Cert Manager Upgrade"
This issue is a:
[ ] Bug Report
[x] Enhancement suggestion
[ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below: @alexellis

## Enhancement suggestions / feature requests
Newer cert-manager version e.g. 0.14. 0.11 is getting quite old now.

[2020-03-30 21:14] alexellis commented on #40
Hi @cablespaghetti, can you list out any breaking changes from the docs? There are Civo learn guides that @kaihoffman may need to update in accordance with this change.

Alex

[2020-03-30 21:46] cablespaghetti commented on #40
Sure. Included things the Helm chart won't automatically solve for you.

*0.12* - https://cert-manager.io/docs/installation/upgrading/upgrading-0.11-0.12/
_Changes to the Vault Kubernetes Auth Mount Path_

*0.13* - https://cert-manager.io/docs/installation/upgrading/upgrading-0.12-0.13/
None

*0.14* - https://cert-manager.io/docs/installation/upgrading/upgrading-0.13-0.14/
This will be the interes

[2020-04-02 14:17] jeka opened #42 "wrong dependency on helm in prometheus operator app"
This issue is a:
[X ] Bug Report
[ ] Enhancement suggestion
[ ] Feature request

@akosveres

The manifest of prometheus operator app specifies helm as a dependency that is not needed.

[2020-04-07 05:13] jeka commented on #42
@akosveres, I created a #44 solving this.

[2020-04-07 15:47] andyjeffries commented on #40
We don't (currently) provide marketplace app upgrades, so the breaking upgrade changes won't matter as much. This is more about changes required to the documentation (for @kaihoffman) which I didn't see any of above?

[2020-04-07 18:27] alexellis commented on #40
This may impact upon learn guides.

[2020-04-09 14:58] #26 closed

[2020-04-13 05:27] mr-smithers-excellent commented on #17
Experienced the same issue here installing Minio on a fresh cluster using:

`civo applications add MinIO:5GB --cluster=cluster-name`

[2020-04-15 15:51] Waterdrips commented on #42
This is fixed, @andyjeffries or @jeka can you close this issue?

[2020-04-15 15:54] jeka commented on #42
I can I guess.

[2020-04-15 15:54] #42 closed

[2020-04-20 18:02] milindchawre opened #46 "Add security category in civo marketplace (with tools like kube-scan, polaris)"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[ * ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
While exploring civo kubernetes service. What I really missed is deploying any security related tools on k8s through marketplace.
As

[2020-04-27 08:54] spamsch opened #47 "Apps should display cluster resource requirement estimates"
This issue is a:
[ ] Bug Report
[X] Enhancement suggestion
[ ] Feature request

When currently looking at the marketplace listing there is no indication of the minimum cluster configuration required or preferred. Take prometheus-operator that is quite demanding in terms of resources. If you just have one node in configuration small then not much more will be able to run.

As a **first step** we co

[2020-04-30 09:04] andyjeffries commented on #47
Thanks for this, something I've had in mind for a while but isn't tracked, so definitely leaving this open until we get to it.

[2020-05-14 05:09] Ludea commented on #39
no ETA on this ?

[2020-05-22 13:05] sr229 opened #50 "Rancher errors out with HTTP_TOO_MANY_REDIRECTS with NGINX Ingress"
This issue is a:
- [x] Bug Report
- [ ] Enhancement suggestion
- [ ] Feature request

Rancher seems to error out with `HTTP_TOO_MANY_REDIRECTS` despite a fresh deployment or not when using the NGINX Ingress controller.

### Reproduction steps:

- Install NGINX Ingress from Kubernetes' Helm chart
- Install Rancher from the Civo Marketplace

**Expected**: Routing is working.
**Current Behavior**:  B

[2020-05-22 13:05] sr229 commented on #50
Based from logs looks like NGINX Ingress is working as intended:

[code]

[2020-05-22 13:38] sr229 commented on #33
I don't think we're quite ready for NGINX ingresses yet, Rancher seems to fail to route properly. See #50

[2020-05-22 15:07] kaihoffman commented on #50
Just to bring the discussion somewhere more permanent than the community Slack, I could not replicate this issue.

Steps taken:
- Set up a new cluster with no Traefik or metrics-server installed from the Civo UI
- Install nginx-ingress using the Helm Chart from https://kubernetes.github.io/ingress-nginx/deploy/
- From the Civo UI, install Rancher
- Edit the provided ingress file to swap in `nginx`

[2020-05-22 15:18] sr229 commented on #50
Already provided @kaihoffman the Kubeconfig in the test cluster so he knows what's going on here to give more updates.

[2020-05-22 17:06] sr229 commented on #50
Bug seems to be CloudFlare-related (not updating the records on time), so this is invalid now.

[2020-05-22 17:06] #50 closed

[2020-05-23 04:29] sr229 opened #51 "Add more storage options"
This issue is a:
- [ ] Bug Report
- [ ] Enhancement suggestion
- [x] Feature request

Currently we only have Longhorn, however, if you're using Rancher, you'll be able to deploy anything other than Longhorn (such as OpenEBS, which is a much more better solution since it supports RWX (Read-Write-Many) vs Longhorn).

[2020-05-26 09:03] andyjeffries commented on #51
We're happy to accept PRs for any marketplace apps that can be installed to the cluster. StorageOS, OpenEBS, etc.

[2020-05-26 09:03] #51 closed

[2020-06-14 12:57] AugustasV commented on #39
I would like to help with this task.

[2020-06-14 15:29] AugustasV commented on #33
I checked the link @sr229 provided, so I could see there is no issues with that. Also it's possible to spin up a cluster via cli without Traefik. See [https://github.com/civo/cli#starting-a-cluster-without-default-applications](url)

[2020-07-02 17:19] iamnst19 opened #54 "Please could you add Rook-Ceph Storage also"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to

[2020-07-03 17:37] ulm0 opened #55 "Support NFS provisioner"
This issue is a:
[x] Feature request

## Enhancement suggestions / feature requests

It would be good to have the official nfs-provisioner (https://github.com/kubernetes-incubator/external-storage/tree/master/nfs)

[2020-07-06 10:45] AugustasV commented on #39
Helm 3 works differently then Helm 2, so it's not needed anymore.

[2020-07-09 02:35] sr229 commented on #55
Based on my testing NFS provisioner barely worked in K3s, especially when pared with Rancher's block storage.

[2020-07-09 03:51] ulm0 commented on #55
I've got nfs-provisioner deployed on civo k3s @sr229 and it's working, though civo still need to improve the masters performance 'cause it shows some connectivity issues from time to time causing the nfs-provisioner to fail since it needs to be able to talk to the api-server

[2020-07-14 07:19] curx commented on #46
maybe you can give [starboard](https://github.com/aquasecurity/starboard) a try

[2020-07-14 07:59] andyjeffries commented on #46
Feel free to add PRs for any security tools you'd recommend. We're happy to make a new category for them.

[2020-07-14 07:59] #46 closed

[2020-07-14 08:00] andyjeffries commented on #46
I've added the category to the official supported list.

[2020-07-17 11:33] habil opened #61 "New Category Request"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[X] Feature request

## Enhancement suggestions / feature requests

Would you consider adding a new category under Tools & Frameworks? I want to add RabbitMQ product but I couldn't choose a suitable category.

[2020-07-19 14:38] Akay7 commented on #17
Same problem if install MinIO trough web interface.

[2020-07-22 08:03] andyjeffries commented on #61
To be honest, we'd be happy with it under Databases or Architecture. At the moment we want to tightly control categories only splitting them out when we have sufficient apps in there to need them. if we get a few more similar things, then we would likely split it out.

[2020-07-22 08:03] #61 closed

[2020-07-22 11:05] habil commented on #61
Okay. I continue with the Architecture category. Thank you.

[2020-08-26 14:40] saiyam1814 opened #70 "Add Kubevious to Civo cloud"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[* ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like t

[2020-08-26 14:40] saiyam1814 commented on #70
/assign @saiyam1814

[2020-08-26 14:41] saiyam1814 opened #71 "Rancher App fix"
Issue with the pods in cattle-system namespaces when the rancher UI is accessed.

[2020-08-26 14:42] saiyam1814 commented on #71
/assign @saiyam1814

[2020-08-26 14:42] saiyam1814 opened #72 "Add Goldilocks: An Open Source Tool for Recommending Resource Requests to Civo Marketplace"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[*] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to

[2020-08-26 14:43] saiyam1814 commented on #72
/assign @saiyam1814

[2020-08-26 17:00] milindchawre commented on #72
Make sure to tag [this guide](https://www.civo.com/learn/fairwinds-goldilocks-kubernetes-resource-recommendation-tool) in post installation steps. 😉

[2020-08-30 17:13] Cybervu opened #74 "Open source logging solution"
This issue is a: Feature request

A logging solution like EFK or Graylog will be very help full.

[2020-09-09 21:13] si458 opened #76 "upgrade prometheus-operator to new community repo"
This issue is a:
- [ ] Bug Report
- [x] Enhancement suggestion
- [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would l

[2020-09-09 22:05] fgrehm commented on #74
Another option could be https://grafana.com/docs/loki/latest/ :)

[2020-09-18 12:09] saiyam1814 opened #79 "portainer Update"
Update Portainer

[2020-09-18 12:21] saiyam1814 commented on #79
PR raised

[2020-09-18 12:21] #79 closed

[2020-09-22 10:23] saiyam1814 commented on #20
This is already addressed , once @kaihoffman confirms we can close the issue

[2020-09-22 12:49] alexellis commented on #20
This issue is almost a year old 😄

@kaihoffman I'm sure you know about you can use `Fixes: #20` or `Closes: #20` in your PR or commit next to have issues auto-close.

[2020-09-22 12:49] #20 closed

[2020-09-22 13:02] andyjeffries commented on #20
You don't need to be so formulaic about it either for GitHub to recognises it, you can just put "Change X for Z reason to close #20" and it will pick it up. https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-09-23 08:49] alexellis commented on #20
Good to know. The point was that it wasn't done, and means issues get cleaned up, rather than pinging people one year after the issue was already fixed 🙈

[2020-09-23 08:54] saiyam1814 commented on #20
Was cleaning up the stale issues and PR's. Don't want it to be a repo with 100's of issues and PR's in open state

[2020-09-24 15:00] srinivasraja54 commented on #30
Let me know if spinnaker needs to be added. I'll give a shot. It would take 2-3 large nodes to run

[2020-09-28 10:13] milindchawre opened #89 "Add netdata monitoring tool"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[*] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to

[2020-09-28 10:13] milindchawre commented on #89
/assign @milindchawre

[2020-09-28 10:16] milindchawre commented on #89
The netdata helm chart is [not yet official available](https://github.com/netdata/helmchart/issues/74). FOr now I tried the manual way of configuring netdata and it seems to be working fine. I will wait until their official helm chart is ready.

[2020-09-28 13:17] zozidalom opened #90 "Add TeamCity"
This issue is a:
[ ] Feature request

## Enhancement suggestions / feature requests

Add TeamCity (and maybe other CI/CD tools) to the CI/CD section.

https://www.jetbrains.com/help/teamcity/setting-up-teamcity-for-kubernetes.html#Kubernetes+Cloud+Profile+Configuration

[2020-09-28 13:19] saiyam1814 commented on #90
the civo marketplace is heavily driven by the community so feel free to contribute the apps to the marketplace

[2020-09-28 13:41] saiyam1814 commented on #74
the civo marketplace is heavily driven by the community so feel free to contribute the apps to the marketplace

[2020-09-29 00:38] javicv opened #92 "New Marketplace Category: CMS"
This issue is a:
[ ] Bug Report
[x] Enhancement suggestion
[ ] Feature request

## Enhancement suggestions / feature requests
A new category "CMS" would be necessary to allow applications like _Wordpress_ (see PR #91)

[2020-09-30 06:27] #92 closed

[2020-09-30 10:19] javicv opened #96 "Wordpress installation is not triggered correctly"
This issue is a:
[x] Bug Report
[ ] Enhancement suggestion
[ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:
@javicv

## Bug Reports
Wordpress installation is not triggered correctly. When you select "Wordpress" from marketplace applications, it's shown as installed with its dependencies bu

[2020-09-30 10:47] saiyam1814 commented on #96
let me try

[2020-09-30 14:48] OdysLam commented on #89
That's awesome @milindchawre. Thanks for the love!

[2020-09-30 15:30] saiyam1814 commented on #96
I installed on a fresh  cluster, it worked:
![image](https://user-images.githubusercontent.com/8190114/94706577-fd37c880-035f-11eb-87f0-e58306b3f70a.png)
please verify

[2020-09-30 15:41] javicv commented on #96
Thanks @saiyam1814 It's working now.
I tihink this issue can be closed.

[2020-09-30 21:39] #96 closed

[2020-10-01 06:11] saiyam1814 commented on #89
Would be awesome to see netdata in civo marketplace

[2020-10-01 08:28] saiyam1814 commented on #71
This will be fixed in Rancher 2.5 till then will leave this open

[2020-10-08 03:20] saiyam1814 commented on #71
This is fixed

[2020-10-08 03:20] #71 closed

[2020-10-21 12:09] #89 closed

[2020-10-22 06:49] saiyam1814 commented on #74
@Cybervu and @fgrehm Loki has been added to the marketplace, feel free to give it a spin :)

[2020-10-22 06:49] #74 closed

[2020-11-04 17:57] malikons opened #115 "Remove pv.yaml from longhorn installation instructions"
While trying to use longhorn for persistent storage in my civo k8s cluster, I encountered an issue where the pod was failing to mount the volume:

`3m43s       Warning   FailedAttachVolume   pod/plaindb-86dcdfb76-ppcl9   AttachVolume.Attach failed for volume "plaindb-volume" : attachdetachment timeout for volume plaindb-volume`
`2m8s        Warning   FailedMount          pod/plaindb-86dcdfb76-ppcl

[2020-11-11 18:20] gdeepak884 opened #119 "Showing error some time on a first attempt of installing app or creating instance"
This issue is a:
[ ] Bug Report
hlw, i am beta tester,
whenever i am creating an instance or installing apps, this will take me to the Error message look like "Sorry for trouble if persist contact on mail"
but this behaviour is only in the frontend but the instance is creating in the backgroung.

## Bug Reports
If the issue is a Bug Report, please detail the following:

- Expected behaviour
 Try t

[2020-11-11 18:24] gdeepak884 commented on #119
![Screenshot_2020-11-11 Civo com - Sorry, something went wrong (500)](https://user-images.githubusercontent.com/24300867/98849399-26786800-2479-11eb-9cbb-95e908dc3741.png)

[2020-11-11 20:42] gdeepak884 opened #120 "Bug report"
This issue is a: Bug Report

Due to security reasons of your company, i am adding a link that will ask for request access to view this report.

[Bug Report](https://docs.google.com/document/d/1OE2emcGQsUFOq7EiDP1e9zALqRF116P58eLoiJ2XWZI/edit?usp=sharing)

[2020-11-11 20:54] #119 closed

[2020-11-11 20:54] gdeepak884 commented on #119
Escalated

[2020-11-12 09:09] andyjeffries commented on #120
Thanks for this. I'm looking at it. Please do not accept any further requests for access (as this is a public repo others may find it and fake being from Civo)

[2020-11-12 09:26] gdeepak884 commented on #120
Can you please change the label, if you find this issue a valid kne

[2020-11-12 11:52] andyjeffries commented on #120
We've fixed this issue, thank you for reporting it. Feel free to re-test, but we can no longer reproduce this.

[2020-11-12 11:52] #120 closed

[2020-11-12 12:00] gdeepak884 commented on #120
Yes, it's fixed

[2020-11-12 16:55] ksatchit opened #121 "Add LitmusChaos: A cloud-native chaos engineering tool"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[*] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to

[2020-11-12 16:56] saiyam1814 commented on #121
We will get this added soon

[2020-11-12 16:58] ksatchit commented on #121
The installation manifest is [here](https://litmuschaos.github.io/litmus/litmus-operator-v1.9.1.yaml).

A recent article by @saiyam1814 around running litmus chaos experiments on civo cloud: https://www.civo.com/learn/chaos-engineering-kubernetes-litmus

[2020-11-18 03:49] ayr-ton opened #126 "Add Hashicorp Vault"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[*] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to

[2020-11-19 09:05] gdeepak884 opened #127 "'name' on delete action is not dynamically updating in almost whole website"
This issue is a: functionallity issue

check the attacked video to reproduce.

[functionallity_issue.zip](https://github.com/civo/kubernetes-marketplace/files/5565602/functionallity_issue.zip)

[2020-11-19 09:27] andyjeffries commented on #127
Thanks, but this doesn't relate to the Kubernetes Marketplace. https://github.com/civo/kube100 is the right repository. Other than that, this is a valid bug though so thanks.

[2020-11-19 09:27] #127 closed

[2020-11-30 19:29] Rutam21 opened #134 "Add CockroachDB to the list of available Databases"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[x] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to

[2020-12-05 23:39] lspgn opened #136 "Add Kafka"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[*] Feature request

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to see, and how it would benefit you and the wider Civo Kubernetes userbase:

Example chart
https://bitnami.com/stack/kafka/helm

[2020-12-07 12:56] rajeshradhakrishnanmvk opened #138 "I would like to include Dapr.io"
This issue is a:
[ ] Bug Report
[ ] Enhancement suggestion
[X ] Feature request

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would like to see, and how it would benefit you and the wider Civo Kubernetes userbase:

I would like to add the app https://docs.dapr.io/ to Civo mark

[2020-12-30 11:47] kaihoffman opened #142 "Update categories list to clean up"
This issue is a:
[ ] Bug Report
[x] Enhancement suggestion
[ ] Feature request

In deploying a new cluster, I noticed that there's Ghost, Wordpress and the like in the "Management" category of the Marketplace.

Would it be better to have a more defined category of "management" (as in managing your cluster) and add a category/categories for CMSes and the like such as "content"? I thought I'd open u

[2021-01-08 08:32] Gsantomaggio opened #143 "RabbitMQ Operator"
This issue is a:
[ ] Bug Report
[x] Enhancement suggestion
[ ] Feature request

About RabbitMQ you can use the rabbitmq operator:
https://www.rabbitmq.com/kubernetes/operator/operator-overview.html

Currently, civo installation exposes the standard HTTP and amqp port. I would suggest using the HTTPS and AMQPS

[2021-01-21 10:11] saiyam1814 commented on #143
@habil wanted to bring your attention to this issue.

[2021-01-21 10:16] habil commented on #143
I'll work on it. @saiyam1814

[2021-01-21 10:16] saiyam1814 commented on #143
Awesome Thank you @habil for your prompt response

[2021-01-21 14:15] Gsantomaggio commented on #143
let me know if need help :)

[2021-02-09 13:44] carehart opened #153 "Category for app server container?"
I was looking for an application server like Tomcat and did not find it. Even if I wanted to propose adding one (Tomcat or another that I was more prepared to be maintainer for), this raised a few questions:

- is there any reason app servers would not be accepted? (I don't find mention of any in issues, so clearly the demand is low)
-  what category would you have such a container listed as? Or m

[2021-03-01 14:24] sr229 opened #159 "Alert: Resources using Deprecated API Namespaces should be updated."
This issue is a:
[x] Bug Report
[ ] Enhancement suggestion
[ ] Feature request

We have some offending Applications that still uses deprecated API namespaces, from my discovery, the following WILL NOT work on K3s 1.20+

- `litmuschaos` (uses `apiextensions.k8s.io/v1beta1`, deprecated in favor of `apiextensions.k8s.io/v1`)
- `bitwardenrs` (uses `extensions/v1beta1` Ingress classes. Will not work on

[2021-03-01 14:38] sr229 opened #161 "Simplify Cert-Manager Installation using the official one-line YAML installation method"
This issue is a:
- [ ] Bug Report
- [x] Enhancement suggestion
- [ ] Feature request

The current cert-manager installation is outdated, and currently doesn't work as intended in the current K3S version. A companion PR,  GH-160  is created to use the official one-line YAML installation instead of the usual Jetstack Helm chart.

[2021-03-01 14:43] dscamargo commented on #161
Ref guide https://cert-manager.io/docs/installation/kubernetes/#installing-with-regular-manifests

[2021-03-01 15:03] sr229 commented on #159
Would like to add `argo` in the list since they also use deprecated resources.

[2021-03-02 06:37] DoNnMyTh commented on #159
* `litmuschaos ` uses  `apiextensions.k8s.io/v1beta1` in their latest release `https://litmuschaos.github.io/litmus/litmus-operator-v1.13.0.yaml `
* `bitwardenrs` uses `extensions/v1beta1` in its latest helm chart at `https://github.com/k8s-at-home/charts/tree/master/charts/bitwardenrs`
* `rancher post_install.md` can be updated to `extensions/v1` reference `https://github.com/rancher/rancher/blob

[2021-03-03 11:31] sr229 commented on #161
Already done via GH-160. Closing.

[2021-03-03 11:31] #161 closed

[2021-03-05 13:12] DoNnMyTh commented on #153
Hellop @carehart, I would suggest you give it a look https://github.com/civo/kubernetes-marketplace/blob/master/CONTRIBUTING.md

[2021-03-05 13:14] carehart commented on #153
I had. Do you feel I missed something? Do you feel my answer is there? Are you speaking as an authority here in the project, or just trying to help?

[2021-03-05 13:15] DoNnMyTh commented on #138
Hello @rajeshradhakrishnanmvk, I Would suggest you give it a look https://github.com/civo/kubernetes-marketplace/blob/master/CONTRIBUTING.md . Apps can be add via Install.sh or via yaml files :), Community Is most welcome to add apps, Before that please make sure you have right Permissions.

[2021-03-05 13:18] DoNnMyTh commented on #153
Well i'm From civo community, who is trying to help.

[2021-03-05 13:20] DoNnMyTh commented on #136
Sure, We will give it a look to add.

[2021-03-05 13:21] andyjeffries commented on #153
I've not had much experience with application servers, but is this something that is deployable and usable without integration (e.g. like a database) or is it something where you'd then need to inject your own code in it somehow and deploy the updated container (e.g. like Nginx or apache)?

Other than that, I would personally say maybe "Architecture". We tend not to make categories for a single ap

[2021-03-05 13:22] andyjeffries commented on #153
@saiyam1814 is running our marketplace, so I'm sure he'll jump in to help with any further advice.

[2021-03-05 13:22] DoNnMyTh commented on #115
@malikons, can you ckeck if your issue is resolved :)

[2021-03-05 14:08] saiyam1814 commented on #159
@DoNnMyTh would you like to take up and update these ?

[2021-03-05 14:10] DoNnMyTh commented on #159
@saiyam1814 i commented these because i can update all to latest version but most of them are still on /v1beta1. What ever you say i'll do.

[2021-03-05 14:11] DoNnMyTh commented on #159
Assign this to me and will be done next week :)

[2021-03-05 14:19] saiyam1814 commented on #72
WIll start looking at this again

[2021-03-05 14:43] saiyam1814 commented on #153
Rightly said by Andy, Tomcat would go to Architecture, Open source apps tend to get added more as people and the community uses them but it's not restricted. If you have an app that would be beneficial for the community then you can add that, the free version would be better IMO

[2021-03-05 15:42] carehart commented on #153
Thanks, everyone. That clarifies things.

To Andy's initial observation/pondering, about how an app server (like Tomcat) might compare to a web server or database server, at least as far as inclusion here is concerned, the answer is yep, they are very similar. All of them are things that don't do much until they are given data to process, and all of them can be setup to have that data within the c

[2021-03-05 15:51] andyjeffries commented on #153
Thanks for the explanation. Happy to include it if it would be useful to people. We don't currently have a way of specifying that a marketplace application requires certain resources to run, so that's a personal concern with Java processes, but aside from that, no problem.

Definitely no outright ban and our marketplace is open for people to contribute to, rather than worrying about open source ap

[2021-03-05 16:43] carehart commented on #153
OK, great. Thanks.

[2021-03-06 14:40] sr229 commented on #159
We'll need to update some of the CRDs upstream as well and/or inform the maintainers regarding this because once K3s v1.22 is out, their applications will no longer work.

[2021-03-06 14:44] DoNnMyTh commented on #159
Sure @sr229, I'll update above this week, but issue many projects haven't moved to newer resources so i'm thinking we should update them when they will update it, and we can put a warning postinstall.md

[2021-03-06 14:48] DoNnMyTh commented on #159
AFAIK 1.22 is still 5 to 6 months away so i guess they got time to update it, and as soon as they update it we will also update it

[2021-03-06 15:51] sr229 commented on #40
Already done via #160 and preceeding cert-manager PRs so this may be closed now, @saiyam1814.

[2021-03-08 07:26] DoNnMyTh commented on #159
@keithhubner Can you look [bitwardenrs](https://github.com/civo/kubernetes-marketplace/tree/master/bitwardenrs)

[2021-03-10 05:44] saiyam1814 commented on #54
Hi @iamnst19 Thank you for the suggestion, Marketplace is open source and anyone from the community can make contributions. We will try to include this with the capacity we have but feel free to contribute!

[2021-03-10 05:59] DoNnMyTh commented on #40
Cert manager Updated, Can be closed.

[2021-03-10 06:43] DoNnMyTh commented on #143
Hello @Gsantomaggio, Thank you for Suggestion/Request. Our marketplace is open to community to make contributions, and as we have updated our market place to support HELM3 and Install.sh files ( example -> https://github.com/civo/kubernetes-marketplace/blob/master/kubevious/install.sh) It is extremely easy. You are most welcome to make a Pull Request.

[2021-03-10 06:48] DoNnMyTh commented on #138
Hello @rajeshradhakrishnanmvk , Thank you for Request. Our marketplace is open to community to make contributions, and as we have updated our market place to support HELM3 and Install.sh files ( example -> https://github.com/civo/kubernetes-marketplace/blob/master/kubevious/install.sh) It is extremely easy. You are most welcome to make a Pull Request.

[2021-03-10 06:58] DoNnMyTh commented on #134
Hello @Rutam21 , Thank you for Request. Our marketplace is open to community to make contributions, and as we have updated our market place to support HELM3 and Install.sh files ( example -> https://github.com/civo/kubernetes-marketplace/blob/master/kubevious/install.sh) It is extremely easy. You are most welcome to make a Pull Request.

[2021-03-10 07:00] DoNnMyTh commented on #126
Hello @ayr-ton , Thank you for Request. Our marketplace is open to community to make contributions, and as we have updated our market place to support HELM3 and Install.sh files ( example -> https://github.com/civo/kubernetes-marketplace/blob/master/kubevious/install.sh) It is extremely easy. You are most welcome to make a Pull Request.

[2021-03-10 07:06] DoNnMyTh commented on #90
Hello @zozidalom  , Thank you for Request. Our marketplace is open to community to make contributions, and as we have updated our market place to support HELM3 and Install.sh files ( example -> https://github.com/civo/kubernetes-marketplace/blob/master/kubevious/install.sh) It is extremely easy. You are most welcome to make a Pull Request.

[2021-03-13 13:31] ChipWolf opened #166 "Add Flux version 2"
This issue is a:
* [ ] Bug Report
* [ ] Enhancement suggestion
* [x] Feature request

## Enhancement suggestions / feature requests
[Flux2](https://github.com/fluxcd/flux2) is a widely used, extensible open-source continuous delivery solution powered by [GitOps Toolkit](https://toolkit.fluxcd.io/).

[2021-03-15 06:07] DoNnMyTh commented on #166
Hello @ChipWolf  , Thank you for Request. Our marketplace is open to community to make contributions, and as we have updated our market place to support HELM3 and Install.sh files ( example -> https://github.com/civo/kubernetes-marketplace/blob/master/kubevious/install.sh) It is extremely easy. You are most welcome to make a Pull Request.

[2021-03-15 06:08] saiyam1814 commented on #142
As per initial discussion with @andyjeffries we concluded that once there are more than a couple of apps that do not fit in any existing category then this can be done.
We can discuss this again on the categories.

[2021-03-15 06:12] saiyam1814 commented on #121
Closing as we have it in the marketplace now!!
https://github.com/civo/kubernetes-marketplace/tree/master/litmuschaos

[2021-03-15 06:12] #121 closed

[2021-03-15 06:13] saiyam1814 commented on #115
Closing the issue, feel free to open if the issue still persists.

[2021-03-15 06:27] #115 closed

[2021-03-15 07:53] saiyam1814 commented on #30
Spinnaker is too big IMO for K3s, once we have the mechanism of highlighting minimum memory/CPU for an app we can revisit this, till then I would close this issue.

[2021-03-15 07:53] #30 closed

[2021-03-15 07:54] saiyam1814 commented on #33
https://github.com/civo/kubernetes-marketplace/tree/master/nginx
Already exists now!

[2021-03-15 07:54] #33 closed

[2021-03-15 07:54] saiyam1814 commented on #39
It's done, we only support helm3 now!

[2021-03-15 07:54] #39 closed

[2021-03-15 07:55] #40 closed

[2021-03-15 07:56] saiyam1814 commented on #55
@ulm0 can you check with the new hardware that we have now in place?
If this works fine we can close the issue!

[2021-03-15 07:56] saiyam1814 commented on #70
Added to marketplace

[2021-03-15 07:56] #70 closed

[2021-03-15 07:59] saiyam1814 commented on #143
I think @habil already has a plan to work on this

[2021-03-15 09:40] DoNnMyTh commented on #159
@stevefan1999-personal Can you please look at Argo CD

[2021-03-15 11:27] kaihoffman commented on #142
@saiyam1814 do I read that right as "we'll give it a few more months and see what our list of apps is at the time"?

[2021-04-15 07:21] saiyam1814 opened #182 "Linkerd apps"
@JasonMorgan So right now there are three apps in the production can we have Plans for them and have only single app ? then in the install.sh based on the value of plan we run the respective helm install.

So we can have something like this in the PLANS section
[code]

now in the install.sh we can have below

[code]
In this way, we can have options for installations within the same application

@a

[2021-04-15 08:40] andyjeffries commented on #182
That works for me, keeps the marketplace less busy with the same app, makes it clearer you shouldn't apply Jaeger + Viz at the same time.

[2021-04-15 12:49] JasonMorgan commented on #182
I like that idea a lot. Let me try and get a new PR in today.

[2021-04-16 04:59] DoNnMyTh commented on #136
@saiyam1814 Kafka added with #178  issue can be closed

[2021-04-16 09:49] saiyam1814 commented on #166
Done with #183

[2021-04-16 09:49] #166 closed

[2021-04-16 10:37] #136 closed

[2021-04-16 23:26] JasonMorgan commented on #182
Anyone have a detailed explanation of plans? I'm trying to see what is and isn't valid and if I can add descriptions.

[2021-04-17 03:34] saiyam1814 commented on #182
have look at plans under https://github.com/civo/kubernetes-marketplace#customizing
few apps that used places
mariadb , mongodb
you have this much space
![image](https://user-images.githubusercontent.com/8190114/115100685-d2a80880-9f5b-11eb-9f54-34ad26553453.png)

My suggestion is to keep the labels short and clear if really required then you may add a very small one-liner

[2021-04-19 13:07] JasonMorgan commented on #182
Is there room to do a default plan? I'd like to default it to installing the mesh with the viz extension.

[2021-04-19 13:19] JasonMorgan commented on #182
If there is the ability to set a default plan I'd like to add that before merging.

[2021-04-20 07:47] saiyam1814 commented on #182
Discussed this with Andy and No, not currently. The reason is that we want to force people in to making a conscious choice, they're used currently/primarily for sizes and if we defaulted to tiny some people may quickly outgrow it and if we defaulted to huge then people may accidentally use up too much disk space.

[2021-04-20 23:42] ChipWolf commented on #166
@saiyam1814 can we re-open this? I don't think Flux is implemented yet in a useful format yet, probably worth making the scope here a little clearer.

[2021-04-21 06:50] saiyam1814 commented on #166
@ChipWolf can you elaborate here ? we have Flux maintainer @stefanprodan who is working on making the best one-click install experience via the marketplace.

[2021-04-21 14:17] ChipWolf commented on #166
Hi @saiyam1814, I elaborate a little further in the [comments](https://github.com/civo/kubernetes-marketplace/pull/183#issuecomment-823664311) on the PR.

Is there a different issue for this open or behind the scenes? If so, I apologise.

[2021-04-21 14:25] saiyam1814 commented on #166
Oops I might have missed the PR comment!
Have replied there to put it as a suggestion

[2021-04-22 06:31] saiyam1814 commented on #182
closing issue, app looks good in marketplace and works as expected! Thanks @JasonMorgan for making these changes

[2021-04-22 06:31] #182 closed

[2021-05-13 08:53] fjogeleit opened #198 "Configure Pod Security Standard and Validation Failure Action for Kyverno"
This issue is a:
* [ ] Bug Report
* [x] Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

@realshuting @JimBugwadia

## Enhancement suggestions / feature requests

Kyverno installs the "Default Pod Security Standard" Policies with the validation failure action "aud

[2021-05-13 17:24] JimBugwadia commented on #198
Thanks @fjogeleit! This is a great suggestion!

[2021-05-18 05:41] zulh-civo opened #201 "Are Linkerd plans correct?"
This issue is a:
* [x] Bug Report
* [ ] Enhancement suggestion
* [ ] Feature request

## Bug Reports
- Expected behaviour
  When running `$ civo kubernetes applications ls` CLI command, I'm expecting a list of all Civo Marketplace apps with _Plans_ column contains values like _5GB, 10GB, 15GB_.

- Encountered behaviour
  What I noticed is, Linkerd plans are strings with the following values: `Link

[2021-05-18 05:43] zulh-civo commented on #201
FYI @JasonMorgan @saiyam1814

[2021-05-18 05:51] saiyam1814 commented on #201
Hi Zulh, yes the plans are correct, this is the new use case that has been implemented for Linkerd and also will be implemented for Kyverno. This has opened the flexibility for different installs.

[2021-05-18 05:58] zulh-civo commented on #201
I thought the Plans is just for storage size...

This can break Marketplace v2 because it expects the Plans are storage sizes e.g. 5GB, 10GB and etc -- which then get parse to int for processing.

Can we call this type of new plans something else e.g. Vendor Plans and leave the storage size Plans as is?

@saiyam1814

[2021-05-18 06:02] saiyam1814 commented on #201
So this is string and parsed as string, and is used in the same way inside install.sh or app.yaml
should not make a difference.
But I agree that we should be more explicit in documentation for plans and define these use-cases

[2021-05-18 06:27] zulh-civo commented on #201
What I'm trying to say here is, we need a way to differentiate storage size plans (which then will be parsed as int) VS non-storage size plans (like what's inside this Linkerd app).

Right now, marketplace v2 assume all values under the Plans are storage size plans. Installing this Linkerd app (with its current manifest.yaml file) on marketplace v2 will fail. Moving forward, I'd like to propose th

[2021-05-18 06:38] saiyam1814 commented on #201
So right now only one app uses it, so we can make the changes to the plan.
Instead of vendor_plans I would suggest custom_plans but let's discuss that internally

[2021-05-18 15:27] JasonMorgan commented on #201
Sorry folks, just to clarify, do y'all need anything from me on this or should I hold off till there's a more definitive decision on V2 marketplace items?

[2021-05-19 14:48] kameshsampath opened #202 "Add sonatype nexus3 marketplace app"
This issue is a:
* [ ] Bug Report
* [ ] Enhancement suggestion
* [ x] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
Many Java applicattions that built requires a in cluster repository manager for quicker build, [Snoatype Nexus](https://www.sona

[2021-05-23 07:35] kameshsampath opened #204 "Add solo.io Gloo Edge marketplace application"
This issue is a:
* [ ] Bug Report
* [ ] Enhancement suggestion
* [x] Feature request

## Enhancement suggestions / feature requests
As microservices and Istio application developer, I wish to have [Gloo Edge](https://docs.solo.io/gloo-edge/latest/) to be installed and configured as part of my civo cluster.

As Gloo Edge exposes API Gateway for Kubernetes based microservices, it need to bind to `80

[2021-05-23 07:35] kameshsampath commented on #204
CC: @keithhubner

[2021-05-25 20:14] simaiden commented on #55
How you managed to deploy the nfs - provisioner? I even can't mount a pv-pvc in a pod running in the kubernet cluster using nfs-server deployed in a compute instance.

Thanks for your help!

[2021-05-26 04:56] saiyam1814 commented on #201
Nothing to be done from your end @JasonMorgan Thanks!

[2021-05-26 11:18] #204 closed

[2021-05-26 11:56] #201 closed

[2021-05-26 12:12] #202 closed

[2021-05-26 12:25] #198 closed

[2021-05-26 12:55] kameshsampath opened #206 "Add Istio marketplace application"
This issue is a:
* [ ] Bug Report
* [ ] Enhancement suggestion
* [x] Feature request

## Enhancement suggestions / feature requests
As a user I would like to have [Isito](https://istio.io) installed on to my civo cluster

[2021-06-04 18:44] sr229 commented on #55
Just a update, Rancher's longhorn has a NFS Provisioner class, so I think we can safely close this since Longhorn can provide this already.

[2021-07-11 15:19] saiyam1814 commented on #206
Closing as this is completed

[2021-07-11 15:19] #206 closed

[2021-07-18 17:56] dirsigler opened #229 "FluxCD postinstall shows wrong bash installation URL"
This issue is a:
* [X] Bug Report
* [ ] Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

@stefanprodan

## Bug Reports

The [PostInstall report](https://github.com/civo/kubernetes-marketplace/blob/master/flux/post_install.md#upgrade-instruction) mentions a old lin

[2021-07-22 05:26] oleg-nenashev opened #232 "Jenkins image on the marketplace uses dated and unofficial Jenkins distribution"
The Jenkins image on the marketplace is dated: https://github.com/civo/kubernetes-marketplace/tree/master/jenkins . I am also not sure why the official Helm chart is not used

This issue is a:
* [x] Bug Report
* [ ] Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

[2021-07-22 05:27] oleg-nenashev commented on #232
CC @ruanbekker @saiyam1814

[2021-07-22 05:59] saiyam1814 commented on #232
Ruan is the maintainer for the app but I agree to use official image/helm chart for the application install.
Feel free to raise the PR :)

[2021-07-25 13:32] jfrosch opened #237 "Knative Needed"
This issue is a:
* [ ] Bug Report
* [X] Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would l

[2021-07-25 16:05] dirsigler commented on #126
I really love this request, as I think a Civo Cluster is an awesome opportunity to have a running Vault Instance, which you can even configure to follow production grade best practices.

We should make sure that there are enough warnings, that a Vault installation without touching the [default values.yml](https://github.com/hashicorp/vault-helm/blob/master/values.yaml) results in a single-deployme

[2021-07-25 16:46] dirsigler commented on #126
I'll prepare something, but I don't know who to add as an maintainer.
Maybe someone else knows who to add ?

[2021-07-26 10:05] #229 closed

[2021-07-26 16:16] #126 closed

[2021-07-29 13:47] dirien opened #240 "Add Kubernetes External Secrets to the marketplace"
This issue is a:
* [ ] Bug Report
* [x] Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would l

[2021-07-30 04:33] #240 closed

[2021-07-30 08:37] dirien commented on #237
Hi @jfrosch,

i agree with you, but there are some points on knative: Its not that simple to install in prod-ready, I am not sure if the current marketplace process at Civo can handle this different options. Then it depends also on proper installed other components (istio or ambassador) and its quite a toll on your ressources. Without even spawning a FN. But i could be wrong and a sandbox install

[2021-08-02 10:51] developer-guy opened #242 "add Rekor Helm Chart to the marketplace"
This issue is a:
* [ ] Bug Report
* [ ] Enhancement suggestion
* [X] Feature request

## Enhancement suggestions / feature requests
The Rekor project provides a restful API based server for validation and a transparency log for storage. A CLI application is available to make and verify entries, query the transparency log for inclusion proof, integrity verification of the transparency log or retrie

[2021-08-02 12:36] dirien commented on #232
Update the item to the official helm chart of jenkins -> https://github.com/civo/kubernetes-marketplace/pull/243

https://artifacthub.io/packages/helm/jenkinsci/jenkins

[2021-08-06 12:42] keithhubner opened #245 "Wordpress App CrashLoopBackOff"
This issue is a:
* [ ] Bug Report

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Bug Reports
If the issue is a Bug Report, please detail the following:

- Expected behaviour
Pod to run as expected
- Encountered behaviour
CrashLoopBackOff
Error in log:
[mpm_prefork:notice] [pid 1] AH00170: caught SIGWINC

[2021-08-06 12:51] andyjeffries commented on #245
@saiyam1814 can you reach out to the maintainers please.

[2021-08-06 13:04] saiyam1814 commented on #245
@javicv would be great if you can have a look at this issue !

[2021-08-10 01:18] #232 closed

[2021-08-10 05:31] milindchawre opened #248 "Add config to prevent installing mutually exclusive apps"
Installing mutually exclusive apps through civo marketplace should be prevented. Like in the case if you are configuring multiple ingress controllers (traefik, haproxy, nginx ...) on your civo cluster.

There should a config in every civo marketplace app to determine mutual exclusiveness.

[2021-08-11 04:55] milindchawre opened #249 "Add ingress category to civo marketplace"
Add separate category for **ingress** in civo marketplace.

Putting all ingress controllers in same category make it easy:
- to detect different available options, right now these are scattered across different categories.
- to [prevent mutual exclusive controllers getting installed](https://github.com/civo/kubernetes-marketplace/issues/248).

[2021-08-11 04:55] milindchawre commented on #249
Ping @andyjeffries @saiyam1814

[2021-08-11 15:55] albancopja5 opened #251 "SSL_Server"
This issue is a:
* [x] Bug Report
* [x] Enhancement suggestion
* [x] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would l

[2021-08-11 15:56] #251 closed

[2021-08-16 08:53] andyjeffries commented on #249
Sounds reasonable to me, but @saiyam1814 is running the marketplace so it's his call :-)

[2021-08-16 09:10] saiyam1814 commented on #249
Agree, we have a reasonable number of Ingress Controllers on Civo Marketplace so I agree to have a separate section for Ingress. We have 6 and one more PR raised for Kond by @milindchawre

[2021-08-18 09:19] albancopja5 opened #254 "Elixir__run_on open source connect:"on":"

[2021-08-18 09:23] albancopja5 commented on #254
albancopja5@gmail.com

[2021-09-22 09:44] avinashupadhya99 opened #261 "Search option for marketplace"
This issue is a:
* [ ] Bug Report
* [x] Enhancement suggestion
* [ ] Feature request

## Enhancement suggestions / feature requests

Having a search option for the marketplace makes it easy to search the marketplace instead of switching between tabs and manually searching for the service.

[2021-09-22 12:53] avinashupadhya99 commented on #261
Just realized, duplicate of https://www.civo.com/account/suggestions/0c1bfe8e

[2021-10-05 10:38] javicv commented on #245
Sorry @saiyam1814  I can't, please contact @DoNnMyTh instead

[2021-10-05 10:53] DoNnMyTh commented on #245
Will look at it on weekend

[2021-10-16 21:03] dirien commented on #261
I wish the UI would be OSS too, so we could create PRs too

[2021-10-22 08:13] Johannestegner opened #265 "Kube-scan - No image exist"
This issue is a:
* [X] Bug Report
* [ ] Enhancement suggestion
* [ ] Feature request

## Bug Reports

The kube-scan image from octarinesec does no longer exist on docker hub. Their company webpage redirects to VMWare, so I'm guessing that they where bought up and the kube-scan software was removed from dockerhub.

For now, I would recommend that we just remove kube-scan until there is a signed and

[2021-10-27 14:20] #265 closed, assigned to nobody

[2021-11-22 03:44] omkensey opened #278 "Marketplace nginx Ingress controller not working with a valid Ingress resource"
This issue is a:
* [X] Bug Report

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:
@saiyam1814

- Expected behaviour
Ingress resource created by a Helm chart works
- Encountered behaviour
Ingress resource did not work
- The steps to recreate the behaviour that you are reporting
I initially created a cluster w

[2021-11-22 05:16] saiyam1814 commented on #278
@dirsigler is there something we can do to fix this?

[2021-11-22 08:04] dirsigler commented on #278
Has probably to do with the recent changes in the Ingress API and the Kubernetes Version of Civo moving forward.
This will probably affect also other Users with other Applications as the upstream Helm Charts need to support the newest Ingress syntax.

Will update and test the Vault version provided in the Civo Marketplace which should hopefully fix this issue.

[2021-11-22 10:14] dirsigler commented on #278
First I thought I miss-read what @omkensey wrote, because he stated that there is a problem with the Nginx application provided in the marketplace and not with the Vault application. But after testing now several things I think it is not a problem with Vault and maybe not a problem with NGINX.

In my tests there are problems with the `--set server.ingress.hosts` flags and the annotation. I was not

[2021-11-22 12:18] dirsigler commented on #278
Even tho I think this issue is more related to either a misconfiguration or a problem with the marketplace provided Nginx Ingress I created a PR to (finally) update Vault.
https://github.com/civo/kubernetes-marketplace/pull/279

[2021-11-22 17:32] omkensey commented on #278
With my Ingress resource, rather than host-based routing I was using path-based routing.  That was why I needed the rewrite-rule annotation and the capture groups in the path.  I get a warning about maps vs. strings on the annotations when I do the Helm install, but it works (gives the correct annotation in the manifest).

The other thing I noticed about the Marketplace version vs the version inst

[2021-11-26 15:03] exocode opened #282 "Ambassador example not working"
This issue is a:
* [ X] Bug Report

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

@milindchawre

## Enhancement suggestions / feature requests

## Bug Reports
If the issue is a Bug Report, please detail the following:

- Cluster with Ambassador installed
- Follow the "Getting started" link for Ambassador i

[2021-12-08 14:54] #282 closed

[2021-12-16 21:19] ionut-maxim commented on #278
I also ran tests and as @dirsigler said, at this moment with `ingress-nginx` (either marketplace or official helm chart) I am unable to used domains other than the one assigned to the cluster by **Civo**.

[2021-12-17 15:52] ionut-maxim commented on #278
This was actually an issue on my side with misconfigured DNS.

[2021-12-22 12:26] exocode opened #288 "Kubeseal example not working"
Hi @soukron I tried your sealsecret installation manifest

This issue is a:
* [X ] Bug Report
* [ ] Enhancement suggestion
* [ ] Feature request

1. Install Kubeseal via Marketplace

2. Run the post install example

`❯ echo -n bar | kubectl create secret generic mysecret --dry-run --from-file=foo=/dev/stdin -o json >mysecret.json`

result

`W1222 13:21:46.889535   17129 helpers.go:555] --dry-run i

[2021-12-22 12:52] soukron commented on #288
Hey thanks for reporting the bug.
It's been a long time since I added the application so probably has changed.

For your specific error: make sure you're using an appropiate kubeseal binary for the sealed secrets controller that you installed. On the other hand, try to get a list of the services in the Sealed Secrets namespace. Apparently there's one missing, but it could be due to a mismatch in t

[2021-12-22 13:38] soukron commented on #288
I've contacted Civo support team to see if they can help me by providing a small cluster for a week so I can upgrade the manifest in the marketplace and help you.

[2021-12-22 13:44] exocode commented on #288
Thank you

[2021-12-22 13:46] soukron commented on #288
@exocode in the meantime, please download the binary corresponding to the version in marketplace (0.12.4) and see if the issue persists.

[2021-12-22 18:10] exocode commented on #288
Quay is on again...

I followed the instructions: of v0.12.4 here: https://github.com/bitnami-labs/sealed-secrets/releases/tag/v0.12.4

(using Mac)

`wget https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.12.4/kubeseal-darwin-amd64 -O kubeseal`

`sudo install -m 755 kubeseal /usr/local/bin/kubeseal`

[code]

[2021-12-22 18:12] exocode commented on #288
(tried everything on a 1 node cluster small with no "Marketplace" apps installed. Only applied your manifest: ` kubectl apply -f https://raw.githubusercontent.com/civo/kubernetes-marketplace/master/sealed-secrets/app.yaml`

[2022-01-07 15:14] FeynmanZhou opened #291 "Add KubeSphere to the Civo Marketplace"
This issue is a:
* [ ] Bug Report
* [ ] Enhancement suggestion
* [x] Feature request

Hi Civo Team,

[KubeSphere](http://kubesphere.io/) is an open-source container platform built on Kubernetes, it also supports K3s as the underlying orchestration system. We would like to add KubeSphere to the Civo Marketplace, enabling users to easily manage cloud-native applications and create CI/CD pipelines in

[2022-01-07 15:20] saiyam1814 commented on #291
Hey 👋 thats for the PR I will review it over the weekend

[2022-01-07 15:22] FeynmanZhou commented on #291
Okay, we will raise a PR soon after testing it from our side.

[2022-01-08 13:39] saiyam1814 commented on #291
Let me know if you need any help @FeynmanZhou

[2022-01-09 19:10] chunjiw opened #292 "Update Longhorn"
This issue is a:
* [ ] Bug Report
* [x] Enhancement suggestion
* [ ] Feature request

Longhorn has been over a year outdated.

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

It says `hello@civo.com` in `manifest.yaml`

This issue is created after discussing with [Saiyam Pathak](https://civo-community.slack.

[2022-01-10 10:43] Johannestegner commented on #159
I updated the CRDs to v1 in Traefik2 (#293)

[2022-01-17 08:45] saiyam1814 commented on #288
Hi @exocode can you raise a PR to fix it on the marketplace app side ?

[2022-01-29 17:26] mrsimonemms opened #296 "Add "coding" as a Marketplace category"
This issue is a:
* [ ] Bug Report
* [x] Enhancement suggestion
* [ ] Feature request

## Enhancement suggestions / feature requests
It would be nice to have a `coding` category in the `manifest.yaml` for Marketplace applications. I'm currently developing a [Gitpod](https://www.gitpod.io) Marketplace app. There are also other remote coding applications that could make use of this category.

NB. I'v

[2022-02-09 11:24] saiyam1814 opened #299 "Configmap connector looks missing in twingate"
Hi @alexmensch the configmap connector looks missing in the Twingate app, can you have a look as currently the app do not get installed properly on Civo Kubernetes.

[2022-02-09 11:25] saiyam1814 opened #300 "Docker registry update"
@alejandrojnm can you update Docker registry to make it install using helm 3 ?

[2022-02-09 11:33] saiyam1814 opened #301 "Kyverno app not working"
hi @bbrentso @fjogeleit the current Kyverno app is not working and giving this error
[code]
Also would be great to update the application to new version

[2022-02-09 11:35] saiyam1814 opened #302 "Kubie"
Hi @milindchawre Kubie app is not working, can you please have a look and see if it can be fixed

[2022-02-09 11:40] saiyam1814 opened #303 "jaeger not working"
@kaihoffman can you please have a look as the app is not working,
install logs
[code]

[2022-02-18 03:44] liorr commented on #299
Hi @saiyam1814,

Can you please explain what exactly you are seeing? I just tested everything, and it is working for me.

The configmap and secret should be created manually based on information that you need to acquire via twingate admin console described in the [blog post](https://www.civo.com/learn/twingate-connector-civo-marketplace) and in the [post-install docs](https://github.com/civo/kuber

[2022-03-09 06:51] #291 closed

[2022-04-04 21:09] dirien opened #318 "Update ArgoCD"
This issue is a:
* [ ] Bug Report
* [x] Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would l

[2022-04-07 08:03] #318 closed

[2022-04-07 08:03] #292 closed

[2022-04-07 08:50] fjogeleit commented on #301
Sorry I missed this issue. Thanks for your help @dirien

[2022-05-02 10:36] #302 closed

[2022-05-23 04:56] milindchawre opened #328 "Need mechanism to get notifications of deprecated civo marketplace apps"
This issue is a:
* [x] Enhancement suggestion

## Enhancement suggestions / feature requests

### Problem
There are scenarios where the app in civo marketplace is deprecated.
Deprecation means:
- The helm chart/k8s manifest used to deploy the app is no longer valid (it can be due to multiple reasons like the [app code is removed from github](https://github.com/civo/kubernetes-marketplace/issues/26

[2022-05-23 04:57] milindchawre commented on #328
ping @saiyam1814

[2022-08-02 03:59] Rishit-dagli opened #341 "A Kubeflow application"
This issue is a:
* [ ] Bug Report
* [ ] Enhancement suggestion
* [x] Feature request

## Enhancement suggestions / feature requests

It would be pretty helpful to have a Kubeflow application on the Civo marketplace. Kubeflow is quite popular in the Machine Learning community as can be seen in [kubeflow/kubeflow](https://github.com/kubeflow/kubeflow) and would help the overall Civo community.

I wo

[2022-08-03 10:52] saiyam1814 commented on #341
@Rishit-dagli I am onboard with adding kubeflow

[2022-08-04 05:00] Rishit-dagli commented on #341
Before I start working on this, I had a question though: as far as I have observed you often need to apply the generated Kubernetes resource configurations at least twice since some resources can only be created afterr other ones are ready. Is the resource configuration applied to the Civo cluster from `app.yaml` in a loop until all the resources are ready?

[2022-08-04 05:35] saiyam1814 commented on #341
kubectl gives us a command to check on this
eg `kubectl wait --for=condition=available --timeout=300s deployment/nginx
`

[2022-08-04 05:48] Rishit-dagli commented on #341
Yes, but using an `app.yaml` does not support this, right? Or did I miss something

[2022-08-04 06:02] saiyam1814 commented on #341
you can use install.sh and app.yaml both in a single marketplace application

[2022-08-17 13:48] #341 closed

[2022-08-28 16:11] Rishit-dagli opened #343 "A Volcano app"
This issue is a:

* [x] Feature request

## Enhancement suggestions / feature requests

Adding an application for [Volcano](https://volcano.sh/) would be pretty useful for a lot of folks. Volcano is a very popular batch scheduling system and is also an incubating CNCF project. Volcano supports quite a few machine learning frameworks and is quite popular in the community as well.

—https://volcano.

[2022-08-29 06:46] saiyam1814 commented on #343
I know it is a CNCF project, what are some of the use-cases for this ?

[2022-08-29 14:22] Rishit-dagli commented on #343
Sure, so Volcano is used quite a lot for high-performance computing workloads on Kubernetes. It is used especially for machine learning and HPC tasks and introduces support for gang scheduling, GPU affinity scheduling, distributed training, and related aspects (batch creation, queue management, and more).

[2022-08-30 17:48] saiyam1814 commented on #343
So Civo does not have a GPU offering Yet, will this be useful for CPU only nodes?

[2022-08-31 01:51] Rishit-dagli commented on #343
Yes, most of the capabilities of Volcano will still be useful for CPU nodes.

[2022-09-02 17:32] saiyam1814 commented on #343
Ok cool lets get that added then

[2022-09-10 03:40] kitarp29 commented on #328
May I take this up? Please assign it to me :)
cc: @saiyam1814

[2022-10-12 10:48] enrichman opened #349 "Epinio and cert-manager dependency (versioning)"
Hi all, I would like to add [Epinio](https://epinio.io/) (an application develompent engine for Kubernetes) to the CIVO marketplace.

We have a cert-manager dependency, and we have tested it with >v1.7.x.
I've seen that the one provided from the CIVO marketplace is an older one. It should work anyway, but I was wondering how these dependencies are versioned or managed.

What if we are going to nee

[2022-10-17 09:52] #343 closed

[2022-10-25 12:22] dipankardas011 opened #354 "Addition of Argo Rollouts"
This issue is a:
* [ ] Bug Report
* [x] Enhancement suggestion
* [x] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

## Enhancement suggestions / feature requests
If you are requesting an enhancement to a feature already present, or a new feature, please outline below the feature you would l

[2022-10-25 15:08] DMajrekar opened #355 "Traefik-v2-loadbalancer - Add sample annotations for Static v4 IP"
This issue is a:
* [ ] Bug Report
* [x Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

@saiyam1814

## Enhancement suggestions / feature requests

I've been helping a few users now get up and running with this new annotation, and they've been struggling to work o

[2022-10-25 17:10] saiyam1814 commented on #355
I like adding to post install and also pointing to the guide.

[2022-11-24 15:37] jakeloxton opened #356 "Traefik-v2-nodeport metrics hostport"
This issue is a:
* [ ] Bug Report
* [X] Enhancement suggestion
* [ ] Feature request

If the issue concerns an existing Marketplace application, please tag the maintainer of the application (found in `manifest.yaml`) below:

@saiyam1814

## Enhancement suggestions / feature requests

Can we update the Traefik nodeport chart to not use host port 9100 for it's metrics? This clashes with the kube-pro

[2022-11-24 15:52] DMajrekar commented on #356
@jakeloxton  - can you suggest the change required here?

https://github.com/civo/kubernetes-marketplace/blob/master/traefik2-nodeport/app.yaml